:root {
    --primary-color: #9792e4;
    --secondary-color: #0084fd;
    --card-bg-color: #b5ddff;
    --card-color: #5b6f81;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    background-color: #2415f2;
}

#container {
    text-align: center;

    margin: auto;
    background-color: #0084fd;
    width: 600px;
    height: 300px;
    border-radius: 5px;
    border: 1px solid darkblue;
}